<%= render 'shared/content_title', title: 'All Notes' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">
  x</button>
  <h3> Welcome </h3>
  This is a Great Web Site
  
  <br/>
    <h2><%= link_to "Join Us!", jobs_path %></h2>
</div>
<% @user = User.new   %>
<% @post.each do |post| %>
	<%= render 'post', post: post %>
<% end %>