<%= render 'shared/content_title', title: 'All Notes' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">
  x</button>
  <h3> Welcome to DamnNotes </h3>
  DamnNotes is an online market for best notes. Our reseposibility is provide best notes to help student
  acheive their accedemic goal. We are currently purchasing great notes from all students in Minnesota, We 
  are also hiring students who want to make money by discover and recomment notes for us. Register for add 
  and vote for your course that need notes the most. We will sent you a copy of free notes if we have the course
  you added. And we will also select students randomly from those who vote and send them a copy too.
  
  <br/>
    <h2><%= link_to "Join Us!", jobs_path %></h2>
</div>
<% @user = User.new   %>
<% @post.each do |post| %>
	<%= render 'post', post: post %>
<% end %>